---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import AboutMe from '../components/About-Me.astro';
---

<Layout>
	<Header />
	<main>
		<AboutMe />
	</main>
</Layout>
